.activity__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  .accordion {
    background: $main-color-light-blue;
    border-radius: 5px 5px 5px 5px;
    &__content {
      padding: 0 38px 30px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      .accordionTitle__wrapper {
        position: relative;
        margin-bottom: 10px;
      }
    }
    &__arrow {
      position: absolute;
      top: 5px;
      right: -25px;
      transition: all 0.3s ease-in-out;
    }
    &__info {
      transition: all 0.3s ease-in-out;
      margin-bottom: 20px;
    }
    &__button {
      @include light-button;
      width: 160px;
      &:hover {
        @include light-button-hover;
      }
    }
    &__img {
      position: relative;
      width: 100%;
      height: 296px;
      border-radius: 5px 5px 0 0;
      transition: all 0.3s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -20px;
        left: 0;
        z-index: 2;
        background: $bottom-linear;
      }
    }
  }
}

// media queries

@media (min-width: 1024px) {
  .accordion {
    overflow: hidden;
    position: relative;
    &__img {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: $main-color-light-blue;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }
    &__content {
      position: absolute;
      bottom: -230px;
      left: 0;
      padding: 0 30px 60px;
      z-index: 3;
      .accordion__arrow {
        display: none;
      }
    }
    &:hover {
      .accordion__img {
        &::after {
          opacity: 0.7;
        }
      }
      .accordion__content {
        bottom: -20px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .activity__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .accordion {
    height: 370px;
    &__content {
      bottom: -310px;
    }
  }
}
