@import "settings";

.career__banner {
  margin-bottom: 30px;
  position: relative;

  .career__image {
    position: relative;
  }

  .career__image--small {
    display: block;
  }

  .career__image--middle {
    display: none;
  }

  .career__image--big {
    display: none;
  }

  .career__content {
    position: absolute;
    top: 0;
    padding: 30px 0;
    z-index: 2;

    .career__title {
      margin-bottom: 20px;
    }

    .career__description {
      max-width: 233px;
      margin-bottom: 32px;
    }
  }

  .career__pattern {
    position: absolute;
    bottom: -10px;
    right: -30px;
    width: 202px;
    height: 75px;
    z-index: 2;
  }
}

// media queries

@media (min-width: 570px) {
  .career__banner {
    .career__image--small {
      display: none;
    }

    .career__image--middle {
      display: block;
    }
  }
}

@media (min-width: 830px) {
  .career__banner {
    .career__image--middle {
      display: none;
    }

    .career__image--big {
      display: block;
    }

    .career__content {
      .career__description {
        max-width: 399px;
      }
    }

    .career__pattern {
      bottom: -20px;
      right: 220px;
      width: 304px;
      height: 113px;
    }
  }
}

@media (min-width: 1024px) {
  .career__banner {
    margin-bottom: 140px;

    .career__pattern {
      left: 390px;
      bottom: -35px;
    }
  }
}

@media (min-width: 1300px) {
  .career__banner {
    .career__content {
      top: 0;
      padding: 110px 0;
    }
  }
}