.layout {
  position: relative;
  overflow: hidden;
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 20px;
  @media (min-width: 1100px) {
    margin: 0 80px;
  }
  &--full {
    @media (min-width: 1100px) {
      margin: 0 80px;
    }
  }
}

.social__icons {
  width: 130px;
  display: flex;
  justify-content: space-between;
  @media (max-height: 430px) {
    display: none;
  }
}

.title__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 10px;
  &--accordion {
    justify-content: space-between;
    padding: 0;
  }
  @media (min-width: 1024px) {
    padding: 0 0 25px;
  }
}

.title__h1 {
  @include mobile-h1;
  color: $main-color-black;
  padding: 0 0 10px;
  &--post {
    font-size: 20px;
    color: $main-color-easy-gray;
  }
  @media (min-width: 1024px) {
    @include desktop-h1;
    padding: 0 0 30px;
    &--post {
      font-size: 30px;
    }
  }
}

.title__h2 {
  @include mobile-h2;
  color: $main-color-black;
  margin-right: 10px;
  @media (min-width: 1024px) {
    @include desktop-h2;
    margin-right: 20px;
  }
  &--white {
    color: $main-color-white;
    margin-right: 0;
  }
}

.title__h3 {
  @include mobile-h3;
  color: $main-color-black;
  padding: 0 0 5px;
  &--white {
    color: $main-color-white;
  }
  @media (min-width: 1024px) {
    @include desktop-h3;
    padding: 0 0 20px;
    &--small {
      font-size: 14px;
      padding: 0 0 10px;
    }
  }
}

.title__icon {
  width: 24px;
  height: 24px;
  @media (min-width: 1024px) {
    width: 40px;
    height: 40px;
  }
}

.article {
  @include article-mobile-block;
  color: $main-color-black;
  margin-bottom: 10px;
  &--big {
    padding: 0 0 10px;
  }
  &--white {
    color: $main-color-white;
  }
  &--half {
    @media (min-width: 1024px) {
      width: 50%;
    }
  }
  &--tip {
    @include article-mobile-tip;
    @media (min-width: 1024px) {
      @include article-desktop-tip;
    }
  }
  @media (min-width: 1024px) {
    @include article-desktop-block;
    margin-bottom: 40px;
  }
}
