.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
  width: 100%;
  .burger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 21px;
    z-index: 5;
    div {
      width: 36px;
      height: 3px;
      border-radius: 2px;
      transform-origin: 5px;
      transition: all 0.3s ease-in-out;
      z-index: 5;
    }
  }
  &__button {
    display: none;
  }
  &__navbar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 186px; //static width, yes, it's not mistake.
    background-color: $main-color-light-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 89px 0 0;
    transition: all 0.3s ease-in-out;
    z-index: 4;
    .menu {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: right;
      height: 185px;
      margin-bottom: 38px;
      &__item {
        color: $main-color-white;
        @include menu-item;
      }
    }
    .navbar__button {
      @include primary-button;
      width: 146px;
      margin-bottom: 31px;
      @include article-mobile-block;
    }
    .navbar__patterns {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 168px;
    }
  }
}

// media queries

@media (min-width: 1024px) {
  .header {
    .burger {
      display: none;
    }
    &__button {
      @include light-button;
      border: 1px solid $main-color-light-blue;
      &:hover {
        @include light-button-hover;
      }
    }
    &__navbar {
      position: static;
      width: 100%;
      background-color: $main-color-white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      .menu {
        flex-direction: row;
        align-items: center;
        height: auto;
        margin: 0;
        &__item {
          color: $main-color-light-blue;
          @include menu-item;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -2;
            left: 50%;
            display: block;
            background: none repeat scroll 0 0 transparent;
            height: 1px;
            width: 0;
            background: $main-color-light-blue;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
          &:not(:last-child) {
            margin-right: 19px;
          }
        }
      }
      .navbar__button {
        display: none;
      }
      .navbar__patterns {
        display: none;
      }
    }
    &__navbar .social__icons {
      display: none;
    }
  }
}

@media (max-height: 470px) {
  .header__navbar {
    .navbar__patterns {
      display: none;
    }
    .menu {
      margin-bottom: 20px;
    }
  }
}
