.history__stages {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 50px;
  .stage {
    border-radius: 5px;
    padding: 15px 0 25px;
    overflow: hidden;
    &__header {
      margin: 0 25px;
      .stage__dates {
        margin: 0;
      }
    }
    &__content {
      margin: 20px 25px;
      .stage__title {
        transition: all 0.3s ease-in-out;
      }
      .stage__info {
        transition: all 0.3s ease-in-out;
      }
      .stage__img {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// media queries

@media (min-width: 800px) {
  .history__stages {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    .stage {
      height: 100%;
      pointer-events: none;
      .stage__arrow {
        display: none;
      }
      .stage__title {
        opacity: 1;
      }
      .stage__info {
        opacity: 1;
      }
      .stage__img {
        opacity: 1;
      }
    }
  }
}
