@import "settings";

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    padding: 30px 20px 5px;
    border-radius: 5px;
    background: $main-color-white;
    transform: scale(0.5);
    transition: 0.5s;

    &.active {
      transform: scale(1);
    }
  }
}

// media queries

@media (min-width: 1024px) {
  .modal {
    &__content {
      padding: 40px 40px 5px;
    }
  }
}