.news {
  .news__wrapper {
    .news__img {
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bottom-linear;
      }
    }
    .news__content {
      overflow: hidden;
      margin: 0 20px;
      position: absolute;
      z-index: 2;
      max-width: 410px;
      bottom: 0;
      transition: all 0.3s ease-in-out;
      .news__title {
        @include mobile-h3;
        color: $main-color-white;
      }
      .news__description {
        transform: translateY(150px);
        transition: all 0.3s ease-in-out;
        opacity: 0;
      }
    }
    .tags__list {
      display: flex;
      justify-content: flex-start;
      padding: 7px 0 0 20px;
      .news__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        background: $main-color-easy-gray;
        border-radius: 5px;
        color: $main-color-black;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}

// media queries

@media (min-width: 1024px) {
  .news {
    .news__wrapper {
      .news__content {
        bottom: -20px;
        .news__title {
          bottom: 47px;
          margin-bottom: 20px;
          @include desktop-h3;
        }
      }
      &:hover {
        .news__content {
          bottom: 60px;
        }
        .news__description {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
