@import "settings";

.products__banner {
  margin-bottom: 30px;
  position: relative;

  .products__image {
    position: relative;
  }

  .products__image--small {
    display: block;
  }

  .products__image--middle {
    display: none;
  }

  .products__image--big {
    display: none;
  }

  .products__content {
    position: absolute;
    top: 0;
    padding: 30px 0;
    z-index: 2;

    .products__title {
      margin-bottom: 20px;
    }

    .products__description {
      max-width: 233px;
      margin-bottom: 32px;
    }
  }

  .products__pattern {
    position: absolute;
    bottom: -20px;
    right: -50px;
    width: 209px;
    height: 90px;
    z-index: 2;
  }
}

// media queries

@media (min-width: 570px) {
  .products__banner {
    .products__image--small {
      display: none;
    }

    .products__image--middle {
      display: block;
    }
  }
}

@media (min-width: 830px) {
  .products__banner {
    .products__image--middle {
      display: none;
    }

    .products__image--big {
      display: block;
    }

    .products__content {
      .products__description {
        max-width: 399px;
      }
    }

    .products__pattern {
      bottom: -40px;
      right: 220px;
      width: 209px;
      height: 90px;
    }
  }
}

@media (min-width: 1024px) {
  .products__banner {
    margin-bottom: 140px;

    .products__pattern {
      left: 390px;
      bottom: -45px;
      width: 247px;
      height: 107px;
    }
  }
}

@media (min-width: 1300px) {
  .products__banner {
    .products__content {
      top: 0;
      padding: 110px 0;
    }
  }
}