@import "settings";

.projects {
  margin-bottom: 50px;

  .projects__list {
    .project {
      width: 280px;
      margin-left: 20px;
      cursor: pointer;

      &__img {
        position: relative;
        height: 413px;
        border-radius: 5px;
      }

      &__badges {
        display: flex;
        justify-content: flex-start;
        padding: 7px 0;

        .tag {
          margin-bottom: 0;
        }
      }
    }
  }
}

// media queries

@media (min-width: 570px) {
  .projects {
    .projects__list {
      .project {
        width: auto;
        margin: 0 20px;

        &__img {
          height: auto;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .projects {
    .projects__list {
      margin: 0 60px;
    }
  }
}